###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto eol=lf

*.jpg   binary
*.png   binary
*.gif   binary
